/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/profile.scss */
.all {
  background: #f5f8f9;
}

/* line 7, ../sass/profile.scss */
.container {
  margin-top: 2.0418%;
}

/* line 11, ../sass/profile.scss */
.row div {
  font-family: 'Open Sans', sans-serif;
}

/* line 15, ../sass/profile.scss */
.col-lg-12 {
  background: #fff;
  max-width: 1170px;
}
/* line 19, ../sass/profile.scss */
.col-lg-12:first-of-type {
  height: 309px;
}
/* line 22, ../sass/profile.scss */
.col-lg-12:first-of-type .log-out-btn {
  float: right;
  margin-top: 2%;
  padding: 5px 11px;
  border: 1px solid #007ee5;
  text-transform: uppercase;
  font-size: 12px;
  color: #007ee5;
}
/* line 31, ../sass/profile.scss */
.col-lg-12:first-of-type .log-out-btn:hover {
  background: rgba(0, 126, 229, 0.2);
}
/* line 36, ../sass/profile.scss */
.col-lg-12:first-of-type .btn-file {
  margin: 5% 0 0 44%;
  position: relative;
  overflow: hidden;
  border: 1px solid #d0dce7;
  border-radius: 0;
  color: #727e88;
  font-size: 15px;
  padding: 3px 19px;
}
/* line 46, ../sass/profile.scss */
.col-lg-12:first-of-type .btn-file i {
  font-size: 28px;
  padding: 0 9px 0 2px;
}
/* line 51, ../sass/profile.scss */
.col-lg-12:first-of-type .btn-file:hover {
  background: rgba(114, 126, 136, 0.2);
}
/* line 56, ../sass/profile.scss */
.col-lg-12:first-of-type .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/* line 72, ../sass/profile.scss */
.col-lg-12:first-of-type img {
  position: relative;
  max-width: 100%;
  height: auto;
}
/* line 78, ../sass/profile.scss */
.col-lg-12:first-of-type .lead {
  float: right;
  margin-top: -10.5%;
  color: #3f454a;
  font-size: 13px;
}
/* line 84, ../sass/profile.scss */
.col-lg-12:first-of-type .lead #stars.starrr {
  font-size: 24px;
  color: #727e88;
}
/* line 89, ../sass/profile.scss */
.col-lg-12:first-of-type .lead .review-counter {
  font-size: 14px;
}
/* line 94, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head {
  position: absolute;
  top: 35%;
  left: 17.5%;
}
/* line 99, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head li:nth-of-type(3) {
  margin-top: -15px;
}
/* line 103, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head h1 {
  font-size: 20px;
  color: #3f454a;
}
/* line 108, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head address {
  font-size: 14px;
  color: #3f454a;
}
/* line 112, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head address i {
  padding-right: 4%;
  font-size: 20px;
}
/* line 118, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head a {
  font-size: 14px;
  color: #3f454a;
}
/* line 122, ../sass/profile.scss */
.col-lg-12:first-of-type .prof-info-head a i {
  padding-right: 4%;
  font-size: 22px;
}
/* line 130, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) {
  margin-top: 1px;
  height: 58px;
}
/* line 134, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs {
  border: none;
}
/* line 137, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs .active {
  border: none;
  border-bottom: 2px solid #028dfe;
}
/* line 142, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs li {
  border: none;
}
/* line 145, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs li a:focus {
  border: none;
}
/* line 151, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs > li:last-child {
  float: right;
}
/* line 154, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs > li:last-child i {
  font-size: 28px;
  color: #a6b0b7;
}
/* line 158, ../sass/profile.scss */
.col-lg-12:nth-of-type(2) .nav-tabs > li:last-child i:hover {
  color: #7b8a94;
}
/* line 165, ../sass/profile.scss */
.col-lg-12:last-of-type {
  margin-top: 1.5070%;
  height: 616px;
}
/* line 169, ../sass/profile.scss */
.col-lg-12:last-of-type h2 {
  font-size: 24px;
  color: #727e88;
}
/* line 174, ../sass/profile.scss */
.col-lg-12:last-of-type h3 {
  font-size: 16px;
  color: #3f454a;
  background: #f5f8f8;
}
/* line 180, ../sass/profile.scss */
.col-lg-12:last-of-type a {
  font-size: 14px;
  color: #3f454a;
  background: #f5f8f8;
}
/* line 185, ../sass/profile.scss */
.col-lg-12:last-of-type a i {
  padding-right: 10px;
  font-size: 19px;
}
/* line 191, ../sass/profile.scss */
.col-lg-12:last-of-type address {
  font-size: 14px;
  color: #3f454a;
  background: #f5f8f8;
}
/* line 196, ../sass/profile.scss */
.col-lg-12:last-of-type address i {
  padding-right: 10px;
  font-size: 22px;
}
/* line 202, ../sass/profile.scss */
.col-lg-12:last-of-type li > button {
  display: inline-block;
  background: #ecf1f5;
}
/* line 206, ../sass/profile.scss */
.col-lg-12:last-of-type li > button:hover {
  background: #92afc6;
}
/* line 210, ../sass/profile.scss */
.col-lg-12:last-of-type li > button:active {
  background: #007ee5;
}
/* line 214, ../sass/profile.scss */
.col-lg-12:last-of-type li > button:focus {
  background: #007ee5;
}
/* line 219, ../sass/profile.scss */
.col-lg-12:last-of-type button > i {
  font-size: 18px;
  color: #727e88;
}
/* line 223, ../sass/profile.scss */
.col-lg-12:last-of-type button > i:hover {
  color: #4e565d;
}
/* line 227, ../sass/profile.scss */
.col-lg-12:last-of-type button > i:active {
  color: #fff;
}
/* line 231, ../sass/profile.scss */
.col-lg-12:last-of-type button > i:focus {
  color: #fff;
}
/* line 238, ../sass/profile.scss */
.col-lg-12:last-of-type .form-group input {
  width: 269px;
  border: none;
  border-bottom: 1px solid #d0dce7;
}
