/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  @import url("https://fonts.googleapis.com/css?family=Lato:400,700");
}
/* line 14, ../sass/screen.scss */
body a {
  text-decoration: none;
}

/* line 17, ../sass/screen.scss */
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

/* line 23, ../sass/screen.scss */
.container {
  margin: 0 auto;
}
/* line 26, ../sass/screen.scss */
.container.h {
  width: 68.5%;
}
/* line 28, ../sass/screen.scss */
.container.s-d {
  width: 37.5%;
}
/* line 33, ../sass/screen.scss */
.container.a-d {
  width: 68.8125%;
}
/* line 35, ../sass/screen.scss */
.container.f {
  width: 66.8125%;
}
/* line 37, ../sass/screen.scss */
.container.p {
  width: 71.375%;
}
/* line 39, ../sass/screen.scss */
.container.c {
  width: 34.8125%;
}
/* line 41, ../sass/screen.scss */
.container.ftr {
  width: 71.375%;
}

/*     Calculations:        */
/*    h: 1096/1600          */
/*    s-d: 600/1600         */
/*    a-d: 1101/1600        */
/*    f: 1069/1600          */
/*    p: 1142/1600          */
/*    c: 557/1600           */
/*    ftr = p               */
/* line 53, ../sass/screen.scss */
header {
  background: #f6f9f9;
}
/* line 58, ../sass/screen.scss */
header .container.h h1 {
  margin: 2.8285% 0;
  /* 31/1096 */
  display: inline-block;
}
/* line 64, ../sass/screen.scss */
header .container.h img {
  float: left;
  max-width: 100%;
  width: auto;
}
/* line 70, ../sass/screen.scss */
header .container.h .site-name {
  display: inline-block;
  margin: 2.5% 0 0 0.55em;
  color: #2d3950;
  font-family: 'Lato', sans-serif;
  font-size: 1.875em;
  /* 30px */
  font-weight: 700;
  text-transform: uppercase;
}

/* line 83, ../sass/screen.scss */
.welcome-section {
  height: 100vh;
  background: url("../img/welcome-bg.jpg") no-repeat 50% 0;
  background-size: cover;
}
/* line 89, ../sass/screen.scss */
.welcome-section .container.s-d h2 {
  padding: 36.1667% 0 5.6667%;
  /*       217/600    34/600       */
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 7.5em;
  /* 120px */
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid #15a4fa;
}
/* line 102, ../sass/screen.scss */
.welcome-section .container.s-d .site-description {
  display: inline-block;
  margin: 6.6667% 0 0 3.6667%;
  /*     40/600       22/600      */
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}
/* line 113, ../sass/screen.scss */
.welcome-section .container.s-d .button {
  display: inline-block;
  margin: 10.6667% 0 0 35.1667%;
  /*      64/600          211/600  */
  padding: 3.6667% 5.8333%;
  /*       22/600  35/600  */
  background: transparent;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  /* 18px */
  font-weight: 400;
  border: 1px solid #15a4fa;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* line 130, ../sass/screen.scss */
.welcome-section .container.s-d .button:hover {
  background: rgba(21, 164, 250, 0.3);
}
/* line 135, ../sass/screen.scss */
.welcome-section .container.s-d .fa-angle-down {
  position: absolute;
  top: 93%;
  left: 49.3715%;
  color: #fff;
  font-size: 2.1875em;
  /* 35px */
  font-weight: 400;
}

/* line 147, ../sass/screen.scss */
.about {
  background: #f6f9f9;
}
/* line 152, ../sass/screen.scss */
.about .container.a-d h2 {
  padding-top: 7.3569%;
  /*  81/1101  */
  color: #2d3950;
  font-family: 'Lato', sans-serif;
  font-size: 2.5em;
  /* 40px */
  font-weight: 400;
  text-align: center;
}
/* line 163, ../sass/screen.scss */
.about .container.a-d .design-description {
  margin-top: 2.8156%;
  /*  31/1101  */
  padding-bottom: 9.9909%;
  /*  110/1101  */
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  /* 20px */
  font-weight: 400;
  line-height: 1.6em;
  /* 32px/20 */
  text-align: center;
}

/* line 180, ../sass/screen.scss */
.features {
  background: #fff;
}
/* line 185, ../sass/screen.scss */
.features .container.f .about-features {
  padding-top: 6.0804%;
  /*  65/1069  */
  text-align: center;
  overflow: hidden;
  clear: right;
}
/* line 192, ../sass/screen.scss */
.features .container.f .about-features li {
  float: left;
  width: 23.8541%;
  /*  255/1069  */
  text-align: center;
  margin: 0 4.6773%;
  /*  50/1069  */
}
/* line 203, ../sass/screen.scss */
.features .container.f .about-features li .fa {
  color: #fff;
  background: #48baff;
}
/* line 208, ../sass/screen.scss */
.features .container.f .about-features li .fa-mobile {
  font-size: 4.375em;
  /*  70/16  */
  padding: 5.8824% 13.7255%;
  /*  15/255   35/255  */
}
/* line 215, ../sass/screen.scss */
.features .container.f .about-features li .fa-paper-plane {
  font-size: 2.5em;
  /*  40/16  */
  padding: 11.7647% 11.7647%;
  /*  30/255    30/255  */
}
/* line 222, ../sass/screen.scss */
.features .container.f .about-features li .fa-bullhorn {
  font-size: 2.625em;
  /*  42/16  */
  padding: 11.3725% 11.3725%;
  /*  29/255    29/255  */
}
/* line 229, ../sass/screen.scss */
.features .container.f .about-features li h3 {
  margin-top: 12.5490%;
  /*  32/255   */
  color: #2d3950;
  font-family: 'Lato', sans-serif;
  font-size: 1.375em;
  /*  22/16  */
  font-weight: 400;
}
/* line 239, ../sass/screen.scss */
.features .container.f .about-features li .feature-description {
  display: inline-block;
  margin-top: 8.6275%;
  /*  22/255   */
  padding-bottom: 25.4902%;
  /*  65/255   */
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /*  15/16  */
  font-weight: 400;
  line-height: 1.1em;
  /* 22px/20 */
}

/* line 258, ../sass/screen.scss */
.portfolio {
  background: #f6f9f9;
}
/* line 262, ../sass/screen.scss */
.portfolio .container.p h2 {
  padding-top: 7.0928%;
  /*  81/1142  */
  text-align: center;
  color: #2d3950;
  font-family: 'Lato', sans-serif;
  font-size: 2.5625em;
  /*  41/16  */
  font-weight: 400;
}
/* line 273, ../sass/screen.scss */
.portfolio .container.p .feedback {
  padding-top: 1.9264%;
  /*  22/1142  */
  display: block;
  text-align: center;
  color: #909090;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /*  15/16  */
  font-weight: 400;
  line-height: 1.15em;
  /* 23px/20 */
}
/* line 287, ../sass/screen.scss */
.portfolio .container.p .working-items {
  padding: 7.0053% 0 8.7566%;
  /*  80/1142  100/1142  */
}
/* line 291, ../sass/screen.scss */
.portfolio .container.p .working-items li {
  position: relative;
  display: inline-block;
  margin: 0.7881% 0.7881%;
  /*  9/1142  */
}
/* line 297, ../sass/screen.scss */
.portfolio .container.p .working-items li img {
  display: block;
  border-radius: 0.1751%;
  /*  2/1142  */
  max-width: 100%;
  height: auto;
}
/* line 305, ../sass/screen.scss */
.portfolio .container.p .working-items li .hover-block {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(21, 164, 250, 0.9);
  width: 100%;
  height: 100%;
  border-radius: 0.1751%;
  /*  2/1142 */
}
/* line 318, ../sass/screen.scss */
.portfolio .container.p .working-items li .hover-block a {
  margin: 0 1.4378%;
  /*     5/1142 + 1% */
  padding: 3.7259% 4.4011%;
  /*     14/1142 + 3.5%  16/1142 + 3%    */
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3.1751%;
  /*  2/1142 + 3% */
  font-size: 0.9375em;
  /*  15/16  */
}
/* line 330, ../sass/screen.scss */
.portfolio .container.p .working-items li .hover-block a:hover {
  color: rgba(21, 164, 250, 0.9);
  background: rgba(255, 255, 255, 0.7);
}
/* line 337, ../sass/screen.scss */
.portfolio .container.p .working-items li .hover-block .hover-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 342, ../sass/screen.scss */
.portfolio .container.p .working-items li .hover-block .hover-wrap .table-cell-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 350, ../sass/screen.scss */
.portfolio .container.p .working-items li:hover .hover-block {
  display: block;
}

/* line 358, ../sass/screen.scss */
.contact-section {
  position: relative;
  height: 75vh;
  background: url("../img/contact-section-bg.jpg") no-repeat 50% 0;
  background-size: cover;
  overflow: hidden;
  /**&::after {
    position: absolute;
    background: rgba(45, 57, 80, 0.6);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }**/
}
/* line 377, ../sass/screen.scss */
.contact-section .container.c h2 {
  padding-top: 13.2855%;
  /*  74/557  */
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2.5625em;
  /*  41/16  */
  font-weight: 400;
  text-align: center;
}
/* line 388, ../sass/screen.scss */
.contact-section .container.c .guarantees {
  display: block;
  padding-top: 3.7702%;
  /*  21/557  */
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /* 15/16 */
  font-weight: 400;
  line-height: 1.15em;
  /* 23px/20 */
  text-align: center;
}
/* line 402, ../sass/screen.scss */
.contact-section .container.c .contact-form {
  padding-top: 9.1562%;
  /*  51/557  */
  text-align: center;
}
/* line 407, ../sass/screen.scss */
.contact-section .container.c .contact-form input {
  padding-left: 3.7702%;
  /* 21/557 */
  width: 99.6409%;
  /*  555/557  */
  height: 8.7311%;
  /*  62/557  - 2.4%  */
  border: 1px solid #999;
  -webkit-border-radius: 0.3591%;
  -moz-border-radius: 0.3591%;
  border-radius: 0.3591%;
  /* 2/557 */
  background: 0;
}
/* line 422, ../sass/screen.scss */
.contact-section .container.c .contact-form textarea {
  padding: 4.6679% 0 0 3.7702%;
  /*  26/557  21/557 */
  width: 99.6409%;
  /*  555/557  */
  height: 22.6844%;
  /*  162/557  - 6.4%  */
  border-bottom: 1px solid #999;
  -webkit-border-radius: 0.3591%;
  -moz-border-radius: 0.3591%;
  border-radius: 0.3591%;
  /* 2/557 */
  resize: none;
  background: 0;
}
/* line 438, ../sass/screen.scss */
.contact-section .container.c .contact-form label {
  padding: 6.8223% 0 2.6930% 0;
  /*  38/557   15/557  */
  float: left;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /* 15/16 */
  font-weight: 400;
}
/* line 448, ../sass/screen.scss */
.contact-section .container.c .contact-form label input {
  width: 1.5em;
  height: 1.25em;
  /*  17px  */
  -webkit-border-radius: 0.3591%;
  -moz-border-radius: 0.3591%;
  border-radius: 0.3591%;
  /* 2/557 */
  /**&:hover {
    background: rgba(45, 57, 80, 0.6);
  }**/
}
/* line 463, ../sass/screen.scss */
.contact-section .container.c .contact-form [placeholder] {
  margin-top: 3.5907%;
  /* 20/557 */
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /* 15/16 */
  font-weight: 400;
}
/* line 472, ../sass/screen.scss */
.contact-section .container.c .contact-form [placeholder]:focus {
  color: #fff;
  font-size: 1.125em;
  /* 18/16 */
}
/* line 479, ../sass/screen.scss */
.contact-section .container.c .contact-form .button {
  float: right;
  margin: 3.5907% 0 0 0;
  /* 20/557 */
  padding: 3.0521% 9.1562%;
  /* 17/557   51/557  */
  background: transparent;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
  /* 18px */
  font-weight: 400;
  border: 1px solid #15a4fa;
  -webkit-border-radius: 0.3591%;
  -moz-border-radius: 0.3591%;
  border-radius: 0.3591%;
  /* 2/557 */
}
/* line 497, ../sass/screen.scss */
.contact-section .container.c .contact-form .button:hover {
  background: rgba(21, 164, 250, 0.3);
}

/* line 505, ../sass/screen.scss */
footer {
  background: #f6f9f9;
}
/* line 510, ../sass/screen.scss */
footer .container.ftr .copyright {
  margin-top: 3.3275%;
  /*  38/1142 */
  float: left;
  color: #999;
  font-family: 'Lato', sans-serif;
  font-size: 0.9375em;
  /* 15/16 */
  font-weight: 400;
}
/* line 521, ../sass/screen.scss */
footer .container.ftr .social-net {
  margin-top: 2.1891%;
  padding-bottom: 2.1891%;
  /*  25/1142 */
  float: right;
}
/* line 527, ../sass/screen.scss */
footer .container.ftr .social-net li {
  display: inline-block;
}
/* line 530, ../sass/screen.scss */
footer .container.ftr .social-net li .fa {
  color: #fff;
  font-size: 0.9375em;
  /* 15/16 */
  font-weight: 400;
  background: #15a4fa;
  -webkit-border-radius: 0.3591%;
  -moz-border-radius: 0.3591%;
  border-radius: 0.3591%;
  /* 2/557 */
}
/* line 541, ../sass/screen.scss */
footer .container.ftr .social-net li .fa:hover {
  color: rgba(21, 164, 250, 0.9);
  background: rgba(255, 255, 255, 0.1);
}
/* line 546, ../sass/screen.scss */
footer .container.ftr .social-net li .fa.fa-facebook {
  padding: 0.75em 0.9375em;
  /*  12/16 15/16  */
}
/* line 551, ../sass/screen.scss */
footer .container.ftr .social-net li .fa.fa-twitter {
  padding: 0.75em 0.75em;
  /*  12/16 12/16  */
}
/* line 556, ../sass/screen.scss */
footer .container.ftr .social-net li .fa.fa-google-plus {
  padding: 0.75em 0.625em;
  /*  12/16 10/16  */
}
/* line 561, ../sass/screen.scss */
footer .container.ftr .social-net li .fa.fa-linkedin {
  padding: 0.75em 0.8125em;
  /*  12/16 13/16  */
}

@media (max-width: 1615px) {
  /* line 572, ../sass/screen.scss */
  .portfolio .container.p .working-items {
    margin-left: 10%;
  }
}
@media (max-width: 1240px) {
  /* line 579, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 6em;
  }

  /* line 583, ../sass/screen.scss */
  .features .container.f .about-features li .fa-mobile {
    padding: 2.3824% 15.7255%;
  }

  /* line 587, ../sass/screen.scss */
  .portfolio .container.p .working-items {
    margin-left: 28%;
  }
}
@media (max-width: 900px) {
  /* line 594, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 4.5em;
  }
}
@media (max-width: 768px) {
  /* line 601, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 4em;
  }

  /* line 605, ../sass/screen.scss */
  .features .container.f .about-features li .fa-mobile {
    font-size: 4em;
    padding: 2.1824% 17.5255%;
  }

  /* line 610, ../sass/screen.scss */
  .portfolio .container.p .working-items {
    margin-left: 18%;
  }
}
@media (max-width: 640px) {
  /* line 617, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 3.25em;
  }

  /* line 621, ../sass/screen.scss */
  .features .container.f .about-features li .fa-mobile {
    font-size: 4em;
    padding: 0 17.5255%;
  }
}
@media (max-width: 480px) {
  /* line 629, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 2.5em;
  }

  /* line 633, ../sass/screen.scss */
  .features .container.f .about-features li .fa-mobile {
    font-size: 3.5em;
    padding: 1.1824% 22.5255%;
  }

  /* line 638, ../sass/screen.scss */
  .portfolio .container.p .working-items {
    margin-left: 5%;
  }
}
@media (max-width: 384px) {
  /* line 645, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 2em;
  }
}
@media (max-width: 320px) {
  /* line 652, ../sass/screen.scss */
  .welcome-section .container.s-d h2 {
    font-size: 1.5em;
  }

  /* line 656, ../sass/screen.scss */
  .features .container.f .about-features li .fa-mobile {
    font-size: 3.25em;
    padding: 0 31.0255%;
  }

  /* line 661, ../sass/screen.scss */
  .portfolio .container.p .working-items {
    margin-left: 1%;
  }
}
